#cloud-config
timezone: Asia/Tokyo

runcmd:
#
# Stop firewalld
  - systemctl disable --now firewalld
#
# Disable selinux
  - setenforce 0
  - sed -i 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/selinux/config
#
# Add public subnet to DNS search
#  - sed -i '/^search/s/$/ nfs.vcn.oraclevcn.com/g' /etc/resolv.conf
#  - chattr -R +i /etc/resolv.conf
